{{ $styles := resources.Get "css/footer.css" }}

<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

<div class="footer">
    <div>
        <a href="https://www.instagram.com/thementarianonline"><img class="footer-logo" src="https://ssl.gstatic.com/atari/images/sociallinks/instagram_white_28dp.png" alt=""></a>
        <a href="https://www.youtube.com/@thementarianonline"><img class="footer-logo" src="https://ssl.gstatic.com/atari/images/sociallinks/youtube_white_28dp.png" alt=""></a>
    </div>  
    <p>The Mentarian 2023-{{ now.Year }}</p>
</div>