{{define "main"}}
{{ $styles := resources.Get "css/monthlyissues.css" }}

<link rel="stylesheet" href="{{ $styles.RelPermalink }}">


<h1>Monthly Issues</h1>
{{ range .Pages.GroupByDate "2006"}}
  <h2>{{ .Key }}</h2>
  <div class="grid-container">
    {{ range .Pages.ByTitle }}
    
    <div class="grid-items">
        <a href="{{.Permalink}}">
            {{ with .Resources.ByType "image" }}
                {{range first 1 (.) }}
                    <img src="{{ .RelPermalink }}">
                {{ end }}
            {{ end }}

        </a>
        
      <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    </div>
    {{ end }}
</div>
{{ end }}

{{end}}