{{define "main"}}
{{ $styles := resources.Get "css/weeklyissue.css" }}

<link rel="stylesheet" href="{{ $styles.RelPermalink }}">

<h1>{{.Title}}</h1>
<p>{{ time.Format "2 January 2006" .Date }}</p>

<div class="front-cover">
    {{ $image := .Resources.GetMatch "editorial.jpg" }}
    {{ with $image }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
    {{ end }}
</div>

<br>

<h2>This week's highlights</h2>

<div class="grid-container">

    {{range .Pages }}
    <div class="grid-item">
        <a href="{{ .RelPermalink }}"><h3>{{.LinkTitle}}</h3></a>
        <p>{{.Summary}} </p>
        {{ if .Truncated }}
            <a href="{{ .RelPermalink }}">Read more...</a>
        {{ end }}
        
    </div>  

    {{end}}

</div>


{{end}}